/*
  Overwrite style sheet
*/
root {
  --background-color: black;
  --background-mild: black;
  --ascent-box: #0f1e24;
  --ascent-tan: #fcd6ce;
  --ascent-lavender: #9b8fc0;
  --ascent-popRed: #ff0056;
  --ascent-mint: #6affe5;
  --ascent-grey: #4D546;
}

html {
  background-color: black;
}

body {
  background-color: black;
}

/*
  Stylesheet classes
*/
.New-header {
  background-color: black;
  min-height: 100vh;
  font-size: max(3vmin, 20px);
  color: var(--background-color);
  --stagger-delay: 100ms;
}
.New-Section {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: sectionEntrance 600ms ease-out;
  animation-fill-mode: backwards;
}

.Logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/*
  Stylesheet selector
*/
#ex-face {
  animation: popUp 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(12 * var(--stagger-delay));
}

/*
  Keyframes animation
*/
@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0.3) translate(60%, 60%);
  }
  to {
    transform: scale(1) translate(0%, 0%);
  }
}

@keyframes sectionEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: brightness(200%);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: brightness(100%);
  }
}
