root {
    --ascent-red: #ff0056;
    --ascent-blue: #0670a1;
    --ascent-orange: #fabb1b;
    --ascent-purple: #5e53bf;
}

html {
    background-color: #282c34;
}

.New-header {
    background-color: #282c34;
    min-height: 100vh;
    font-size: max(3vmin, 20px);
    color: azure;
    --stagger-delay: 100ms;
}

@keyframes sectionEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
        filter: brightness(200%);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: brightness(100%);
    }
}

.New-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: sectionEntrance 700ms ease-out;
    animation-fill-mode: backwards;
}

.Logo {
    --radius: 40vmin;
    width: calc(2 * var(--radius));
    top: calc(50% - var(--radius));
    left: calc(50% - var(--radius));
}
