.New-header {
    background-color: #282c34;
    min-height: 100vh;
    font-size: /* calc(6px + 2vmin) */ max(3vmin, 20px);
    color: azure;

    --ascent-color-1: #f5a617;
    --stagger-delay: 100ms;
}

@keyframes sectionEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
        filter: saturate(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: saturate(1);
    }
}

.New-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: sectionEntrance 700ms ease-out;
    animation-fill-mode: backwards;
}
