/*
  Overwrite style sheet
*/
root {
    --background-color: #282c34;
    --ascent-tan: #FCD6CE;
    --ascent-lavender: #9B8FC0;
    --ascent-popRed: #FF0056;
    --ascent-mint: #6AFFE5;
    --ascent-grey: #4D546;
}

html {
    background-color: #282c34;
}

/*
  Stylesheet classes
*/
.New-header {
    background-color: #282c34;
    min-height: 100vh;
    font-size: max(3vmin, 20px);
    color: azure;
    --stagger-delay: 100ms;
}
.New-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: sectionEntrance 600ms ease-out;
    animation-fill-mode: backwards;
}

.Logo {
    --radius: 40vmin;
    width: calc(2 * var(--radius));
    top: calc(50% - var(--radius));
    left: calc(50% - var(--radius));
}


/*
  Stylesheet selector
*/
#ex-face {
    animation: popUp 500ms ease-out;
    animation-fill-mode: backwards;
    animation-delay: calc(12 * var(--stagger-delay));
}


/*
  Keyframes animation
*/
@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(0.3) translate(60%, 60%);
    }
    to {
        transform: scale(1) translate(0%, 0%);
    }
}

@keyframes popUpTransparent {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}

@keyframes sectionEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
        filter: brightness(200%);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: brightness(100%);
    }
}
