/* Slide up card */
.SlideUpCard {
    animation: slideUp 600ms ease-in-out;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}